@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
  
}
nav{
  height: 60px;
}
#navbarNavAltMarkup{
  background: #fff;
  margin: 0 -1rem;
  padding: 1rem;
}

.bg-primary{
  background:linear-gradient(to right bottom, rgba(116, 235, 213, 1), rgba(159, 172, 230, 1) );
}
.btn-google{
  background-color: #DD4B39 !important;
  color:#fff !important;
}
.main_bg{
  background:linear-gradient(to right bottom, rgba(116, 235, 213, 0.8), rgba(159, 172, 230, 0.8) ), url('./img/index.jpg');
  background-size: cover;
  height: calc(100vh - 60px - 72px - 1rem);
}
.homePage{
  color:#fff;
}
.chatArea, .home {
  margin-top: 60px;
}
.chatArea{
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.chatArea .chats{
  padding: 10px;
  max-width: 475px;
  margin:1rem auto;
  background: rgba(255,255,255,.8 );
  border-radius: 1rem;
  padding-bottom: 60px;
  position: relative;
}
.chats .chats_content{
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
}
.chats .chats_content::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
  
}
.chats .chats_content::-webkit-scrollbar-track{
  background: transparent;
}
.chats .chats_content::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background:#ccc;

}
.chats_userName{
  font-size: 0.6rem;
  margin-left: 10px;
  color:#aaa;
}
.chats .chats_bubble{
  padding: 10px 10px 15px;
  background-color: #ddd;
  max-width: 45%;
  width: fit-content;
  font-size: .9rem;
  border-radius: 1rem;
  color:#333;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}
.chats .current_user {
  text-align: right;
}
.chats .current_user .chats_bubble{
  background: #74ebd582;
  margin-left: auto;
}
.chats .chats_time{
  font-size: .6rem;
  position: absolute;
  right: -30px;
  bottom: 0;
  color:#aaa;
}
.chats .current_user .chats_time{
  right: auto;
  left: -30px;
}
.chats .chats_input{
  display: block;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.chats .chats_input input{
  appearance: none;
  border:1px solid #ccc;
  width: calc(100% - 100px);
  display: inline-block;
}
.chats .chats_input button{
  appearance: none;
  border:1px solid #ccc;
  width: 100px;
  display: inline-block;
}